.ethan-text{
	font-family: 'Ubuntu';
}
h1{
	font-family: 'Ubuntu';
}
h2{
	font-family: 'Ubuntu';
}
h3{
	font-family: 'Ubuntu';
}
h4{
	font-family: 'Ubuntu';
}
h5{
	font-family: 'Ubuntu';
}
h6{
	font-family: 'Ubuntu';
}
p{
	font-family: 'Ubuntu';
}
blockquote{
	font-family: 'Alegreya';
}
