.lemon-header
{
	background-image: url("./images/lemonpattern.jpg");
	background-size: 400px;
	height: calc(100px + 10vh);
}
.lemon-text{
	text-align: center;
	margin: auto;
	line-height:calc(150px + 5vh);
	font-family: 'Kalam', cursive;
	font-size: calc(36px + 6vw);
	color: #3c3c22;
}
